.heart {
  position: relative;
  width: 100px;
  height: 90px;
  transform: rotate(-45deg);
  margin: 50px auto;
  box-sizing: border-box;
}
h1::before  {
  content: "\01F354";
}
.heart:before,
.heart:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  top: 0;
}

.heart:before {
  left: 50px;
}

.heart:after {
  left: 0;
}

.heart:before {
  background: #f2f2f2;
  border-radius: 50%;
  transform: rotate(-45deg);
}
